* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(255, 255, 255);
  padding: 0;
  margin: 0;
}

.app-s1 {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
}

.app-s2 {
  font-style: italic;
  color: rgb(206, 37, 37);
}

.app-s3 {
  margin: 2rem;
  width: 200px;
  height: 40px;
}

.app-s4 {
  margin-right: 14rem;
  margin: 2rem;
}

.app-s5 {
  text-align: center;
}
